PyQt5
PyQt5-sip
PyQt5-stubs
XlsxWriter
altgraph
atomicwrites
attrs
click
colorama
cycler
future
importlib-metadata
kiwisolver
llvmlite
macholib
matplotlib
more-itertools
numpy
numba
packaging
pandas
patsy
pefile
pluggy
py
pyparsing
pytest
python-dateutil
python-dotenv
pytz
pywin32-ctypes
scipy
setuptools
simplekml
sip
six
scikit-learn
sigfig
utm
wcwidth
xmltodict
zipp

